* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;

}

.container {
  background: #3d1f40; 
  padding: 20px 60px;
  border-radius: 12px;
  min-width: 100px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  color: pink;
  font-size: 72px;
  letter-spacing: 2px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#reset{
  display: none;
}

button {
  background: #C33764;
  background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  
  background: linear-gradient(to bottom, #1D2671, #C33764);

  margin: 0 10px;
  padding: 10px 55px;
  border-radius: 30px;
  font-size: 20px;
}
